.img section {
  display: inline-block;
  width: 250px;
  height: 250px;
  margin: 5px;
  border: 1px transparent solid;
  border-radius: 10px;
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;

  transition-property: background-size, border;
  transition-duration: 0.5s;
  transition-delay: 0.2s;
}

.img section:hover {
  background-size: auto 130%;
  border: 1px var(--border) solid;
}

.img section span {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  font-family: spartan_bold;
  word-break: break-all;
  border-radius: 10px;
  overflow: hidden;
  font-size: 280%;
  color: white;
  
  transition-property: background-color;
  transition-duration: 0.5s;
  transition-delay: 0s;
}

.img section span:hover {
  background-color: rgba(0, 0, 0, 0.349);
}

.img section span p{
    position: absolute;
    padding: 0;
    margin: 0;
    bottom: 0;
    right: 0;
}

/*
<section style="background-image: url('your_image.jpg')">
  <span>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum assumenda nulla numquam harum fugit voluptatibus quisquam eos esse placeat laboriosam laudantium vero autem ipsam, nostrum voluptates magni voluptas eum suscipit.
    </p>
  </span>
</section>
*/