.list {
  position: relative;
  padding: 20px 4%;
  text-align: center;
}

.black-bg {
  background-color: black;
}

.grey-bg{
  background-color: rgba(0, 0, 0, 0.062);
}

/*
<div class="list">
</div>
*/