@keyframes options_appear {
  0% {
    transform: scale(1, 0.2);
  }
}

.floating-form {
  z-index: 2;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--disabledbg);
}


.floating-form form {
  margin: 50px 0px;
  width: 400px;
  overflow: auto;
  border-radius: 10px;
  background-color: var(--bg2);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.158);

  animation-duration: 0.4s;
  animation-name: options_appear;
  animation-iteration-count: 1;
  animation-direction: normal;
}

.plane-form {
  width: 100%;
  display: flex;
  justify-content: center;
}


.plane-form form {
  margin: 50px 0px;/*TODO arreglar*/
  width: 400px;
  border-radius: 3px;
  border: 1px solid var(--border);
  background-color: var(--bg2);

  animation-duration: 0.4s;
  animation-name: options_appear;
  animation-iteration-count: 1;
  animation-direction: normal;
}

form{
  overflow: auto;
  padding: 40px 20px;
}

form h1,form p, form .file, form label, form input, form select{
  margin: 10px 0px;
  padding: 0;
  display: block;
}

form p {
  font-size: 100%;
  color: var(--midle);
}

form .file {
  text-align: center;
  padding: 10px 0px;
  border: 2px var(--border) dotted;
  cursor: pointer;
  transition-property: all;
  transition-duration: 0.2s;
  transition-delay: 0s;
}

form .file:hover {
  background-color: var(--skin2);
}

form .file:active {
  background-color: var(--skin3);
}

form .file input[type="file"] {
  display: none;
}

form input, form select, form textarea{
  outline: none;
  border: 2px var(--border) solid;
  padding: 10px 10px;
  font-size: 100%;
  border-radius: 10px;
  background-color: var(--bg);
  color: var(--fg);
  transition-property: all;
  transition-duration: 0.3s;
  transition-delay: 0s;
}

form input::placeholder, form select::placeholder, form textarea::placeholder{
  color: var(--border);
}

form input:focus, form select:focus, form textarea:focus{
  border: 2px var(--skin) solid;
  color: var(--skin);
}

form input[type=button]{
  border: 2px transparent solid;
  cursor: pointer;
  background-color: var(--button);
  color: white;
}
form input[type=button]:hover{
  background-color: var(--button_hover);
}

form input[type=button]:active{
  color: rgba(255, 255, 255, 0.733);
}

form textarea{
  max-width: 200px;
  font-size: 130%;
  font-family: spartan_regular;
}

/*
<div class="plane-form">
      <form>
        <h1>Inicio de sesion</h1>
        <label for="">Nombre de usuario </label>
        <input type="text" name="" id="" placeholder="Nombre de usuario" />
        <input type="password" name="" id="" placeholder="Contraseña" />
        <label for="file" class="file">
          <input type="file" id="file"/>
          Seleccione una foto
        </label>
        <input type="button" value="Iniciar sesion"/>
        <select>
          <option value="">Opcion</option>
          <option value="">Opcion</option>
          <option value="">Opcion</option>
          <option value="">Opcion</option>
          <option value="">Opcion</option>
        </select>
        <textarea name="" id="" cols="30" rows="10"></textarea>
        <p>Si aun no esta registrado puede <a href="#">registrase</a> aqui</p>
      </form>
</div>
*/